body{
    background-color: black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.container{
    border: 2px solid white;
    background-color: rgb(3,172,202);
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.main-h{
    font-size: 40px;
    margin-left: 33%;
    background-color: white;
    color: black;
    width: fit-content;
    cursor: none;
}

.converter input{
    width: 35%;
    padding: 10px;
    margin-bottom: 10px;
}

.converter select{
    width: 30%;
    padding: 10px;
    margin-bottom: 10px;
}

.converter button{
    padding: 10px 20px;
    background-color: #00ff2a;
    color: black;
    border: none;
    cursor: pointer;
    transition: 0.3s;
}

.converter button:hover{
    background-color: #005307;
    transition: 0.3s;
    color:azure;
}

.result-h{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    background-color: black;
    width:70px;
    margin-left: 42%;
    cursor: none;
}

#result{
    font-size: 35px;
    margin-top: 10px;
    background-color: #ffffff;
    color:black;
}